<h1> Surgery Index </h1>
<% @surgeries.each do |surgery|%>
<p>Average Years Practiced of <%= surgery.title %> is <%= surgery.years%> years <br>
  Scheduled for: <%= surgery.day_of_week %> <br>
  Operating Room Number: <%= surgery.operating_room_number %></p>
  <%end %>
